<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Admin Home (Admin)</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Create New Stock</h1>
    <form action="#" th:action="@{/admin}" method="post" th:object="${stock}">
        <label>Company name:</label>
        <input type="text" name="co_name"/><br/>

        <label>Ticker:</label>
        <input type="text" name="ticker"/><br/>

        <label>Volume:</label>
        <input type="text" name="volume" value=0.0><br/>

        <label>Initial price:</label>
        <input type="text" name="init_price"/><br/>

        <button type="submit">Create</button>
    </form>
    </br>

    <form action="#" th:action="@{/changeSchedule}" method="post" th:object="${schedule}">
        <label>Monday Hours:</label></br>
        <input type="hidden" name ="day" value="mon"/>
        <label>Open: </label><input type="time" name="open_time">
        <label>Close: </label><input type="time" name="close_time">
        <button type="submit">Set</button>
    </form>

    <form action="#" th:action="@{/changeSchedule}" method="post" th:object="${schedule}">
        <label>Tuesday Hours:</label></br>
        <input type="hidden" name ="day" value="tue"/>
        <label>Open: </label><input type="time" name="open_time">
        <label>Close: </label><input type="time" name="close_time">
        <button type="submit">Set</button>
    </form>

    <form action="#" th:action="@{/changeSchedule}" method="post" th:object="${schedule}">
        <label>Wednesday Hours:</label></br>
        <input type="hidden" name ="day" value="wed"/>
        <label>Open: </label><input type="time" name="open_time">
        <label>Close: </label><input type="time" name="close_time">
        <button type="submit">Set</button>
    </form>

    <form action="#" th:action="@{/changeSchedule}" method="post" th:object="${schedule}">
        <label>Thursday Hours:</label></br>
        <input type="hidden" name ="day" value="thu"/>
        <label>Open: </label><input type="time" name="open_time">
        <label>Close: </label><input type="time" name="close_time">
        <button type="submit">Set</button>
    </form>

    <form action="#" th:action="@{/changeSchedule}" method="post" th:object="${schedule}">
        <label>Friday Hours:</label></br>
        <input type="hidden" name ="day" value="fri"/>
        <label>Open: </label><input type="time" name="open_time">
        <label>Close: </label><input type="time" name="close_time">
        <button type="submit">Set</button>
    </form>
</div>

</body>
</html>

