<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Stocks</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="refresh" content="120">
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
        <div id="mytime"></div>

        <script>

            var today = new Date();
            var day = today.getDay();
            var daylist = ["Sunday","Monday","Tuesday","Wednesday ","Thursday","Friday","Saturday"];
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var dateTime = date+' '+time;

            document.getElementById("mytime").innerHTML = dateTime + ' <br> Day: ' + daylist[day];

        </script>

    </div>
    <div>
        <h1>Market</h1>
    </div>
    <p th:text="'Market is ' + ${marketStatus} + '!'" />

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Stock Ticker</th>
                <th>Initial Price</th>
                <th>Volume</th>
                <th>Market Cap</th>
                <th>Market Buy</th>
                <th>Market Sell</th>
                <th>Limit Buy</th>
                <th>Limit Sell</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stock: ${listStocks}">
                <td th:text="${stock.ticker}">Stock Ticker</td>
                <td th:text="${#numbers.formatCurrency(stock.init_price)}">Initial Price</td>
                <td th:text="${#numbers.formatDecimal(stock.volume, 0, 'COMMA', 2, 'POINT')}">Volume</td>
                <td th:text="${#numbers.formatCurrency(stock.volume * stock.init_price)}">Market Cap</td>

                <td>
                    <form action="#" th:action="@{/marketBuy}" method="post">
                        <label>Amount: </label>
                        <input type="number" name="marketBuyAmount" style="width: 75px" step="any" min="0">
                        <input type="hidden" name="thisStock" th:value="${stock.ticker}"/>
                        <input type="submit" value="Buy"/>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/marketSell}" method="post">
                        <label>Amount: </label>
                        <input type="number" name="marketSellAmount" style="width: 75px" step="any" min="0">
                        <input type="hidden" name="thisStock" th:value="${stock.ticker}"/>
                        <input type="submit" value="Sell"/>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/limitBuy}" method="post">
                        <label>Desired Price: </label>
                        <input type="number" name="limitBuyPrice" style="width: 75px">
                        <label>Amount: </label>
                        <input type="number" name="limitBuyAmount" style="width: 75px" step="any" min="0">
                        <input type="hidden" name="thisStock" th:value="${stock.ticker}"/></br>
                        <label>Exp Date: </label>
                        <input type="date" name="limitBuyDate"></br>
                        <input type="submit" value="Buy"/>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/limitSell}" method="post">
                        <label>Desired Price: </label>
                        <input type="number" name="limitSellPrice" style="width: 75px">
                        <label>Amount: </label>
                        <input type="number" name="limitSellAmount" style="width: 75px" step="any" min="0">
                        <input type="hidden" name="thisStock" th:value="${stock.ticker}"/></br>
                        <label>Exp Date: </label>
                        <input type="date" name="limitSellDate"></br>
                        <input type="submit" value="Sell"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Portfolio</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Ticker</th>
                <th>Shares</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="stock: ${map}">
                <td th:text="${stock.key}">Ticker</td>
                <td th:text="${#numbers.formatDecimal(stock.value, 0, 'COMMA', 2, 'POINT')}">Shares</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Transaction History</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Ticker</th>
                <th>Market Price</th>
                <th>Filled Price</th>
                <th>Amount</th>
                <th>Buy/Sell</th>
                <th>Market/Limit</th>
                <th>Bought Date</th>
                <th>Expire Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="stock: ${userStocks}">
                <td th:text="${stock.stock.ticker}">Ticker</td>
                <td th:text="${#numbers.formatCurrency(stock.initPrice)}">Market Price</td>
                <td th:text="${#numbers.formatCurrency(stock.desiredPrice)}">Filled Price</td>
                <td th:text="${#numbers.formatDecimal(stock.amount, 0, 'COMMA', 2, 'POINT')}">Amount</td>
                <td th:text="${stock.buyOrSell}">Buy/Sell</td>
                <td th:text="${stock.marketOrLimit}">Market/Limit</td>
                <td th:text="${stock.boughtDate}">Bought Date</td>
                <td th:text="${stock.expireDate}">Expire Date</td>
                <form action="#" th:action="@{/cancelOrder}" method="post">
                    <td th:if="${stock.marketOrLimit == limit and stock.fulfilled == false} ">
                        <input type="hidden" name="thisStock" th:value="${stock.id}"/>
                        <input type="submit" value="Cancel"/>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>