<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Stocks</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1>Market</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Stock Ticker</th>
                <th>Initial Price</th>
                <th>Volume</th>
                <th>Market Capitalization</th>
                <th>Buy</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stock: ${listStocks}">
                <td th:text="${stock.ticker}">Stock Ticker</td>
                <td th:text="${stock.init_price}">Initial Price</td>
                <td th:text="${stock.volume}">Volume</td>
                <td th:text="${stock.volume} * ${stock.init_price}">Market Capitalization</td>

                <td>
                    <form action="#" th:action="@{/buy}" method="post">
                        <input type="hidden" name="thisStock" th:value="${stock.ticker}"/>
                        <input type="submit" value="Buy"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Portfolio</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Company Name</th>
                <th>Stock Ticker</th>
                <th>Volume</th>
                <th>Initial Price</th>
                <th>Buy</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stock: ${listStocks}">
                <td th:text="${stock.co_name}">Company Name</td>
                <td th:text="${stock.ticker}">Stock Ticker</td>
                <td th:text="${stock.volume}">Volume</td>
                <td th:text="${stock.init_price}">Initial Price</td>
                <td>
                    <form action="#" th:action="@{/buy}" method="post">
                        <input type="hidden" name="thisStock" th:value="${stock.ticker}"/>
                        <input type="submit" value="Buy"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>