<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock Added Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container text-center">
    <h3>You have added a stock successfully!</h3>

    <span>Ticker:</span><span th:text="${stock.ticker}"></span><br/>
    <span>Company name:</span><span th:text="${stock.co_name}"></span><br/>
    <span>Volume:</span><span th:text="${stock.volume}"></span><br/>
    <span>Initial price:</span><span th:text="${stock.init_price}"></span><br/>

    <form action="/admin">
        <input type="submit" value="Add another stock" />
    </form>
</div>

</body>
</html>